@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --color-rocket: #7159c1; 
}

*  {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: #ffffff;
    padding: 30px;
    text-decoration: none;
}

.links a:hover {
    color: violet;
    transition: 400ms;
}

#wrapper {
    text-align: center;
    padding: 32px 32px 32px;
}

#techs {
    text-align: center;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid #fff;
    height: 280px;
    margin-bottom: 32px;
}

#wrapper h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
}

#wrapper p {
    max-width: 500px;
    margin: 15px auto;
    font-size: 15px;
    line-height: 25px;
}

#techs ul {
    margin-bottom: 70px;
}

/* --- CARDS --- */
.cards {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
    cursor: pointer;
    border-radius: 2% 12%;
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    font-size: 12px;
    line-height: 22px;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: end;
}

/* MODAL */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    margin-top: 3%;
    position: absolute;
}